:root{
    --red: #dc3545;
    --pink: rgba(214,51,132,1);
    --dark: #343a40;
}

html,body{
    height: 100%;
}

main{
    height: calc(100% - (10% + 48px));
    margin-top: 32px;
}

*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#calendario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botoes-ant-prox{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 16px 0;
}

#botoes-ant-prox > a{
    width: 10%;
    justify-content: center;
    height: 40px;
    display: flex !important;
    align-items: center;
    padding: 8px;
}

/*___________________________________________- SOBRESCRITA BOOTSTRAP __________________________________________*/

.my-btn-primary{
    display: flex !important;
    padding: 8px !important;
    gap: 8px;
    align-items: center;
    transition: all 0.5s;
}

.my-btn-primary:focus{
    box-shadow: none !important;
}

.my-btn-primary:hover{
    box-shadow: inset 4px 4px 15px 0px #00000063, 5px 5px 15px 5px rgba(0,0,0,0) !important;
    transition: all 0.5s;
}

.my-btn-primary,
.my-btn-primary > *{
    background: linear-gradient(63deg, rgba(220,53,69,1) 0%, rgba(214,51,132,1) 100%)!important;
    color: white!important;
    border: none!important;
}

.my-btn-secondary{
    display: flex !important;
    align-items: center;
    background-color: var(--dark) !important;
    color: white;
    transition: all 0.5s;
    padding: 0 !important;
    border: none !important;
}

.my-btn-secondary:hover{
    background-color: var(--pink) !important;
    color: white!important;
    transition: all 0.5s;
}

.my-btn-secondary:focus{
    box-shadow: none !important;
}
/*__________________________________________ LOGIN PAGE _______________________________________________________*/

#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login > div{
    width: 30%;
    background-color: #343a40;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login div > form > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#login div > form > div > input{
    height: 30px;
    padding: 16px;
}

#login div > form > div > input[type=Text]{
    width: 90%;
}

#login div > form > div > input[type=Password]{
    width: 50%;
}

#erro{
    color: red;
}

#form-login{
    width: 90%;
    background-color: white;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    padding: 32px;
}

#form-login > div{
    width: 100%;
}

#form-login button{
    width: 40%;
    height: 40px;
    background-color: transparent;
    border: 1px solid #343a40;
    cursor: pointer;
    transition: all 0.5s;
    letter-spacing: 2px;
    font-size: 16px;
}

#form-login button:hover{
    background-color: #343a40;
    color: white;
    transition: all 0.5s;
}

#form-login h1{
    font-size: 48px;
    color: #343a40;
}

/*___________________________________ TOPBAR ___________________________________________________*/

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    box-shadow: -2px 5px 17px 5px rgb(0 0 0 / 26%);
    height: 10%;
}

nav{
    height: 100%;
}

#header-list{
    display: flex;
    align-items: center;
    gap: 48px;
    list-style: none;
    height: 100%;
}

#header-list li a,
#header-list li a > *{
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 4px;
}

/*________________________________________ HOME ___________________________________________________*/

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

#home table{
    width: 40%;
}

.bg-danger{
    background-color: var(--pink)!important;
}

.bg-danger a{
    text-decoration: none !important;
    color: white!important;
}

/*________________________________ USUÃRIOS LIST _________________________________________________________*/

#usuarios-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#cards-usuarios{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 48px;
    justify-content: center;
    padding: 32px;
}

.card-usuario{
    background-color: var(--dark);
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.26);
    color: white;
}

#button-group-usuario{
    width: 100%;
    height: 60%;
    padding: 16px;
    background-color: white;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.btn-default,
.btn-default *{
    font-size: 16px;
}

/*_______________________________________ USUARIO FORM ___________________________________________ */

#insert-user-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#insert-user-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

#insert-user-form > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    font-size: 20px;
}

#insert-user-form > div > input{
    width: 100%;
    height: 40px;
    padding: 16px;
    color: white;
    background-color: var(--dark);
    border: none;
    font-size: 16px;
}

#insert-user-form > div > input:disabled{
    background-color: rgba(0, 0, 0, 0.514);
    cursor: not-allowed;
}

#insert-user-form > div:nth-child(4) input{
    width: 30%;
}

#insert-user-form > div > input::placeholder{
    color: white;
}

/*________________________________________ LISTAGEM DE GRUPOS ____________________________________*/
main#group-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

/*_______________________________________ TOASTR _________________________________________________*/
.my-toastr{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
    line-height: 10px;
    height: 50px;
    justify-content: flex-end;
    padding: 10px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    float: left;
    width: 300px;
    right: -340px;
    position: fixed;
    top: 65px;
    background-color: transparent;
    color: white;

}

.warning{
    animation: showToastWarning 5s;
}

.sucess{
    animation: showToastSucess 5s;
}

@keyframes showToastWarning{
    0%{
        background-color:#cb000000;
    }
    25%{
        right:10px;
        background-color:#cb0000cb;
    }
    50%{
        right: 10px;
        background-color:#cb0000
    }
    75%{
        right: 10px;
        background-color:#cb0000cb;
    }
    100%{
        right: -340px;
        background-color:#cb000000
    }
}

@keyframes showToastSucess{
    0%{
        background-color:#cb000000;
    }
    25%{
        right:10px;
        background-color:#11cb00cb;
    }
    50%{
        right: 10px;
        background-color:#11cb00;
    }
    75%{
        right: 10px;
        background-color:#11cb00cb;
    }
    100%{
        right: -340px;
        background-color:#cb000000
    }
}